<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/styles/header.css" type="text/css" />

<header class="sticky-top">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/maps">Rosette</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav justify-content-left">
        <% if (id) { %>
          <a class="nav-item nav-link" href="/maps/profile/">My Profile</a>
          <a class="nav-item nav-link" href="/maps">All Maps</a>
          <a class="nav-item nav-link" href="/maps/new">Add a Map</a>
        <%}%>
      </div>
      <div class="navbar-nav d-sm-block d-md-none text-light">
        <% if (id) { %>
          <form action="/users/logout" method="POST">
            <div class="form-group mb-2">
              <p class="text-light">Logged In As: <%= name.name %></label>
              <button class="btn btn-outline-danger" style="margin:0.5em">Logout</button>
            </div>
          </form>
          <%} else { %>
            <a class="nav-item nav-link " href="/users/login">Login</a>
            <a class="nav-item nav-link" href="/users/register">Register</a>
            <% } %>
      </div>

    </div>
    <div class="navbar-nav d-none d-md-block d-flex">
      <% if (id) { %>
        <form action="/users/logout" method="POST">
          <div class="form-group d-flex flex-row justify-content-center align-items-center mb-0">
            <p class="text-light align-self-center mb-0">Logged In As: <%= name.name %></label></p>
            <button class="btn btn-outline-danger" style="margin:0.5em">Logout</button>
          </div>
        </form>
        <%} else { %>
          <div class="d-flex flex-row">
            <a class="nav-item nav-link" href="/users/register">Register</a>
            <a class="nav-item nav-link" href="/users/login">Login</a>
          </div>
  <% } %>
    </div>
  </nav>
</header>
